* {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #86b6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  margin: 0 30px;
  border-radius: 50%;
}

.nav-items {
  margin-right: 20px;
  font-size: 25px;
  font-weight: bolder;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.nav-items ul li {
  padding: 0 30px;
  margin: 0 5px;
  cursor: pointer;
}
.appbody {
  background-color: #fed9ed;
}

/* BODY */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  height: 400px;
  color: black;
  border-radius: 15px;
  margin: 20px;
  border: 2px solid #eef0e5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card:hover {
  border: 2px solid black;
  cursor: pointer;
}
.search {
  padding: 10px;
}
.card > img {
  width: 250px;
  height: 135px;
  border-radius: 15px 15px 0 0;
}

.res-content {
  padding: 8px 25px;
  margin-top: 10px;
}
.link-component {
  text-decoration: none;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  background-color: #f0f0f0;
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(0.9);
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

.search-box {
  display: flex;
  margin: 20px 30px;
  height: 30px;
}
.search-box input {
  width: 200px;
}
.search-box button {
  width: 70px;
  cursor: pointer;
}

.menu {
  width: 700px;
  margin: 0 400px;
  padding: 80px 30px;
}
.top-content {
  line-height: 25px;
}
.top-content h1 {
  margin-bottom: 20px;
}
#distance {
  margin: 20px 0;
}
.top-content h3 {
  margin: 20px 0;
}
.rec-list h2 {
  margin: 20px 5px;
  font-size: 30px;
  text-shadow: 8px 8px 11px rgba(108, 158, 32, 0.8);
}
.rec-list p {
  padding: 5px 0;
}
.rec-list ul li {
  list-style-type: none;
  font-size: 20px;
}
.item-container {
  height: 200px;
  position: relative;
}
.item-info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-weight: bolder;
}
.item-img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.item-img img {
  height: 100px;
  width: 150px;
  border-radius: 10px;
}
